cd
mkdir -p bloc/the_pantry
cd bloc/the_pantry
pwd
git init .
git remote add origin git@github.com:rosiechu11/the_pantry.git
git remote -v
cat .git/config
echo "# the_pantry" >> README.md
git add README.me
git commit -m "first commit"
git push origin master
git checkout mater
git checkout -b my_new_branch
touch my_new_branch_file.txt
git add my_new_branch_file.txt
git commit -m "Add a new file" 
git push origin my_new_branch
git checkout master
git branch -D my_new_branch
git push origin --delete my_new_branch
git checkout -b new_grocery_list
echo "I'm in new_grocery_list" > orange.txt
git add orange.txt
git commit -m "Merge conflict"
git checkout master
touch orange.txt
echo "I'm in master" > orange.txt
git add orange.txt
git commit -m "Merge conflict"
git merge new_grocery_list
notepad orange.txt
git add orange.txt
git commit -m "Fix merge conflict"
git push origin master
git push origin new_grocery_list:new_grocery_list
cd ..
mkdir the_pantry_clone
cd the_pantry_clone
git clone git@github.com:rosiechu11/the_pantry.git .
git checkout master
echo "Change from clone" >> apple.txt
git add apple.txt
git commit -m "Change from clone"
git push origin master
git checkout master
git checkout -b the_pantry_assignment
touch the_pantry_assignment.txt
git add my_pantry_assignment.txt
git commit -m "Add a new file"
git push origin the_pantry_assignment
git checkout master
git branch -D my_pantry_assignment
git push origin --delete my_pantry_assignment
git checkout -b my_pantry_assignment
echo "I'm in my_pantry_assignment" > orange.txt
git add orange.txt
git commit -m "Merge conflict" 
git checkout master
touch orange.txt
echo "I'm in master" > orange.txt
git add orange.txt
git commit -m "Merge conflict"
git merge my_pantry_assignment
notepad orange.txt
git commit -m "Fix merge conflict"
git push origin master
git push origin my_pantry_assignment:my_pantry_assignment
